<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Yasher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <Yasher.Properties.Settings>
            <setting name="MD5" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SHA1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SHA256" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SHA384" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SHA512" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RIPEMD160" serializeAs="String">
                <value>False</value>
            </setting>
        </Yasher.Properties.Settings>
    </userSettings>
</configuration>
